@import "/vendor/filament/filament/resources/css/theme.css";
@import "/vendor/awcodes/filament-table-repeater/resources/css/plugin.css";
@import "/resources/css/components/pushable-button.css";

@config 'tailwind.config.js';

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

@media print {
    .no-print {
        display: none !important;
    }
}

.fi-sidebar-item:not(.fi-sidebar-item-active) {
    @apply hover:translate-x-2 transition !important;
}

.fi-ta-ctn {
    @apply hover:shadow-lg transition !important;
}
